Source: gc2latex
Section: util
Priority: extra
Maintainer: Stefan Tomanek <stefan@pico.ruhr.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://stefans.datenbruch.de/gnucash/gc2latex.shtml

Package: gc2latex
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, libtimedate-perl, libxml-simpleobject-perl
Recommends: liblatex-encode-perl
Suggests: texlive-latex-base
Description: Convert gnucash invoices to pretty LaTeX documents
 This packages provides perl modules to retrieve invoice data
 from a gnucash XML file and insert into a LaTeX template.
